body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
  }
   
  a {
    color: #4CAF50;
    text-decoration: none;
    margin-top: 10px;
    display: block;
  }
  
  
  form {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }

  .error-msg{
    margin:10px 0;
    display: block;
    background: crimson;
    color:#fff;
    border-radius: 5px;
    font-size: 20px;
    padding:10px;
  }

  #password-strength-status {
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 5px;
}

.medium-pass {
    background-color: burlywood;
    border: #BBB418 1px solid;
}

.weak-pass {
    background-color: red;
    border: #AA4502 1px solid;
}

.strong-pass {
    background-color: #12CC1A;
    border: #0FA015 1px solid;
}